// $breakpoints: (
//     sm: 320px,
//     md: 720px,
//     lg: 1024px,
// );
// @mixin media-up($breakpoints){
//     @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
//         @content;
//     }
// }
    // @include media-up(sm){
    //     #grillasD{
    //         display: grid;
    //         grid-template-columns: 1fr 1fr 1fr 1fr 1rf 200px;
    //         grid-template-rows: 100px 80px repeat(2, 1fr);
    //     }
    //     .headerD{
    //         display: grid;
    //         grid-column: 1 / 7;
    //         grid-row: 1 / 2;
    //         background-color: hsla(253, 82%, 43%, 0.612);
    //         padding: 10px;
    //         border: 1px solid #b6a4a446;
    //         .iconoD{
    //             display: flex;
    //             justify-content: center;
    //             .dg{
    //                 display: none;
    //             }
    //         }
    //         .navD{
    //             grid-column: 1 / 7;
    //             grid-row: 2 / 3;
    //             background-color: #b6a4a425;  
    //             border: 1px solid #b6a4a446;
    //             text-shadow: 2px 2px 2px #12121257;
    //             .hijoNavD{
    //                 display: flex;
    //                 justify-content: space-evenly;
    //                 list-style: none;   
    //             .navBarD{
    //                 text-decoration: none;
    //                 }
    //                 .linkD{
    //                     text-decoration: none;
    //                     color: #000000b2;
    //                 }    
    //             }
    //         }
    //         .sectionD{
    //             grid-column: 1 / 7;
    //             grid-row: 3 / 5;
    //             .sectionHijoD{
    //                 text-align: center;
    //                 .imgD{
    //                     border-radius: 10px;
    //                 }
    //                 .button{
    //                     border-radius: 10px;
    //                     color: white;
    //                     background-color: #0f78f0be;
    //                     .textoD{
    //                         padding-left: 130px;
    //                         padding-right: 130px;
    //                     }
    //                 }
    //             }
    //         }
    //         .section1D{
    //             grid-column: 1 / 7;
    //             grid-row: 7 / 8;
    //         }
    //         .section2D{
    //             grid-column: 1 / 7;
    //             grid-row: 8 / 9;
    //         }
    //         .footerD{
    //             grid-column: 1 / 7;
    //             grid-row: 9 / 10;
    //             display: flex;
    //             align-items: center;
    //             margin: 0;
    //             background-color: #b6a4a425;
    //             .redesSocialesD{
    //                 display: flex;
    //                 justify-content: center;
    //                 .redesSociales1D{
    //                     list-style: none;
    //                     text-align: center;
    //                     display: flex;
    //                     align-items: center;
                    
    //                     margin: 50px;
    //                     .redesSociales2D{
    //                         margin-left: 20px;
    //                     }
    //                 }
    //             }               
    //         }
    //         .form1{
    //             grid-column: 1 / 2;
    //             grid-row: 7 / 8;
    //         }
    //     }
    // }
    // @include media-up(md){

    // }
    // @include media-up(lg){

    // }

body{
    margin: 0px;
    padding: 0px;
    background-color: #2c8fc9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1rf 200px;
    grid-template-rows: 100px 80px 1fr 1fr 1fr 300px;
}
header{
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    // background-image: url(https://i0.wp.com/linkedinheaders.com/wp-content/uploads/2018/02/laptop-editing-header.jpg?ssl=1);
    background-image: url(https://as01.epimg.net/meristation/imagenes/2019/03/16/noticias/1552722670_680603_1552722771_noticia_normal.jpg);
    background-position: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 1px solid #b6a4a446;
    .iconoD{
        display: flex;
        justify-content: center;
        background-color: #eceae69f;
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 1rem;
        .dg{
            display: flex;
            align-items: center;
            color: #070604;
            font-size: 1.9rem;
            text-shadow: 2px 2px 2px rgba(31, 28, 28, 0.341);
            padding: 2px;
        }   
    }
}
.navD{
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background-color: #2c8fc9;
    // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp4g3FGjMMhRS1RtOzfEVpZbpQYN6OhqAKevtaZBz8QF9xLMhVefPi13MOXbIKrU2Ls5Y&usqp=CAU);
    // text-shadow: 2px 2px 2px #12121257;
    // padding: 2px;
    padding: 10px;
    .hijoNavD{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        background-color: #caa811;
        padding: 20px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        .linkD{
            text-decoration: none;
            color: #c9255cd8;
            text-shadow: 1px 1px 2px black;
        }
    }
}
.sectionD{
    grid-column: 1 / 7;
    grid-row: 3 / 5;
    padding: 30px;
    background-color: #2c8fc9;
    // background-color: #2c8fc9;
    .sectionHijoD{
        text-align: center;
        background-color: #F7ECDE;
        color: rgb(32, 30, 26);
        margin: 10px;
        .textoShadowD{
            padding: 50px;
            margin-top: 30px;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
            background-color:  #caa811;
          p{
            font-size: 1.2rem;
            color: #c9255cd8;
            text-shadow: 1px 1px 1px black;
          }
        }
        .imgD{
            border-radius: 10px;
        }
        .bottonColor{
          background-color:  #f15f0bea;
            padding: 30px;
            .button{
                border-radius: 10px;
                color: white;
                background-color: #0f78f0be;
                padding: 10px;
            }
        }
    }
}
.section1D{
    grid-column: 1 / 7;
    grid-row: 7 / 8;
    padding: 30px;
    background-color: #2c8fc9;
    .sectionHijoD{
        background-color: #F7ECDE;
        text-align: center;
        color: rgb(32, 30, 26);
        .textoShadowD{
          padding: 50px;
          margin-top: 30px;
          margin-left: 30px;
          margin-right: 30px;
          margin-bottom: 30px;
          background-color:  #caa811;
        p{
          font-size: 1.2rem;
          color: #c9255cd8;
          text-shadow: 1px 1px 1px black;
        }
      }
        .imgD{
            border-radius: 10px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 30px;
        }
        .button{
            border-radius: 10px;
            color: white;
            background-color: #0f78f0be;
            padding: 10px;
        }
    }
}
.section2D{
    grid-column: 1 / 7;
    grid-row: 8 / 9;
    padding: 40px;
    background-color: #000000ea;;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    .sectionHijoD{
        text-align: center;
        background-color: #f15f0bea;
        padding: 30px;
        h4{
          color: white;
          text-shadow: 1px 1px 2px black;
        }
        .textoShadowD{
          padding: 50px;
          margin-top: 30px;
          margin-left: 30px;
          margin-right: 30px;
          margin-bottom: 30px;
          background-color:  #caa811;
          p{
            font-size: 1.2rem;
            color: #c9255cd8;
            text-shadow: 1px 1px 1px black;
         }
      }
        .imgD{
            border-radius: 10px;
        }
        .button{
            border-radius: 10px;
            color: white;
            background-color: #0f78f0be;
            padding: 10px;
        }
    }
}
.footerD{
    grid-column: 1 / 7;
    grid-row: 9 / 10;
    margin: 0;
    background-color: #b6a4a425;
    .redesSocialesD{
        display: flex;
        justify-content: center;
        background-color: rgb(110, 110, 110);
        .redesSociales1D{
            list-style: none;
            text-align: center;
            display: flex;
            align-items: center;
            margin: 50px;
            .redesSociales2D{
                margin-left: 20px;
                padding-bottom: 10px;
            }
        }
        
    }
}
.form1{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    background-color: #272a2c;
    color: white;
    text-shadow: 1px 1px 1px black;
    .bottonColor{
      display: flex;
      justify-content: center;
      .button{
        border-radius: 10px;
        color: white;
        background-color: #0f78f0be;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
  } 
}
.preguntas{
    p{
      color: #2c8fc9;
    }
}
.biografia{
  background-color: #2c8fc9;
  font-size: 1.3rem;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 100px;
  margin-top: 150px;
  background-color: #070604;
  .biografiaColor{
    background-color: #caa811;
    padding: 20px;
    text-align: center;
    h3{
      font-size: 2.2rem;
      border-radius: 20px;
      background-color: #f15f0bea;
      margin-top: 16px;
      color: #c9255cd8;
      padding: 15px;
      margin-left: 100px;
      margin-right: 100px;
      text-shadow: 1px 1px 1px black;
      text-align: center;
    }
  }
  h5{
    font-size: 2rem;
    padding-top: 10px;
    text-shadow: 1px 1px 2px #c9255cd8;
  }
  p{
    background-color: #F7ECDE;
    color: hsl(0, 0%, 7%);
    text-shadow: 1px 1px 1px #2c8fc9;;
  }
  img{
    border-radius: 50%;
    text-align: center;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-28 17:19:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
.shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*# sourceMappingURL=style.css.map */

/*Animacion*/
/* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:27:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 .bounce-top:hover{
	animation: bounce-top 0.9s both;
}
 @keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:35:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
.jello-horizontal:hover {
	animation: jello-horizontal 0.9s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:47:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
.text-focus-in:hover {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-8 16:50:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @keyframes pulsate-bck{
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
.pulsate-bck:hover {
	animation: pulsate-bck 0.5s ease-in-out infinite both;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tada:hover {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    -ms-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    -ms-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    -ms-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    -ms-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    -ms-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

  /*# sourceMappingURL=style.css.map */